---
BasedOnStyle: Chromium
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
NamespaceIndentation: All
AccessModifierOffset: -4
---
