CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

__pycache__
csys_main
thrust_sim_main
navio_main
libNavioLib.so
